.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Btn {
    background: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline: none;
    border:none;
    cursor: pointer;
}

.BtnColor {
    background: green;
}
